.espaciado{
    margin-top: 150px;
}
.personalizado{
    border:1px solid #002a85 ;
    border-radius: 10px;
    background: #ffc107;
    color:black;
    padding: 4px;
    margin-left: 5px;
    cursor:pointer;
}
.nodataimg{
    width: 50%;
    margin: auto;
}
.no_data{
    text-align: center;
}
.miboton{
    background-color:  #002a85 !important ;
}