

<div class="container espaciado">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <!-- <li class="personalizado"  [routerLink]="['/payment']" >pagos</li> -->
          <li *ngIf="rol =='administrator'"  [routerLink]="['/newpayment']"  class="personalizado">Nuevo Pago</li>
          <li class=" personalizado" aria-current="page"  (click)="logout()">Cerrar sesión</li>
        </ol>
</nav>
<h2>Hola, {{name}}</h2>
<div class="mispagos">
    <p *ngIf="rol=='administrator'">Pagos realizados  por todos los usuarios</p>
    <p *ngIf="rol!='administrator'">Mis Pagos realizados </p>
</div>
<div class="no_data"  *ngIf="information?.length <= 0">
        <img src="assets/img/nodata.png" class="nodataimg">
        <h2>Actualmente no existen pagos</h2>
</div>
  <table class="table" *ngIf="information?.length > 0">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Usuario</th>
        <th scope="col">Descripción</th>
        <th scope="col">Forma de Pago</th>
        <th scope="col">Archivo</th>
        <th scope="col">Fecha</th>
        <th scope="col" *ngIf="rol =='administrator'">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let info of information;let i=index">
        <td scope="row">{{i + 1 }}</td>
        <td>{{info.name}} {{info.last_name}}</td>
        <td>{{info.description}}</td>
        <td>{{info.type}}</td>
        <td><a class="btn btn-success btn-sm miboton" href="http://127.0.0.1:8000/storage/{{info.url_file}}" target="_blank">Abrir</a></td>
        <td>{{info.created_at}}</td>
        <td><button *ngIf="rol =='administrator'"class="btn btn-sm btn-warning" (click)="deleteRegister(info.id)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
           </tr>
        </tbody>
  </table>
</div>  