.formulario{
    margin-top: 100px;
    width: 70%;
}
.login-cta{
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: 0px solid #002a85;
    margin: 25px 0 35px;
    // background: #002a85;
    width: 40%;
    padding: 8px;
    border-radius: 100px;
}

